.test1 {
    display:flex;
    justify-content: center;
    top: 100px;
    width: 98vw;
    padding-top: 100px
}
.img-container {
display: flex;
flex-direction: column;
margin-bottom: 100px;
margin-top: 30px;
justify-content:center;
align-content: center;
align-items: center;
}
.feed-username {
    display:flex;
    justify-content: space-between;
}
.img-post{
    height: auto;
    width: 65vw
}
.this-post{
    display:flex;
    flex-direction: column;
    background-color: white;
    /* rgb(207, 204, 204); */
    border-radius: 8px;


}
#post-username{
  display: flex;
  justify-content: space-between;
  color: rgb(55, 124, 180);
 margin-top:10px;
font-size: 25px;
    margin-left: 10px;

}
.post-description {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #313131;
    display: flex;
    margin-bottom: 20px;
    height: auto;
    width: auto;
}

.wrapper-post {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px
}

#delete-btn {
    color: #313131;
    transition-duration: 0.3s;
    margin-right: 10px;
}

#delete-btn:hover{
    background-color:#313131;
    color: white
}
