.posts {
  width: 200px;
  height: 200px;
  background-color: blue;
  /* background-image: url(); */
}

.test {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-content: center;
  flex-wrap: wrap;
  width: 97vw;
  /* background-color: white */
}

.test:last-child {
  padding-top: 100px;
}

.feed-img {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.feed-img:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.feed-container {
  width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  top: 70px;
  align-items: flex-start;
}

.feed-username {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  color: rgb(55, 124, 180);
}

.wrapper {
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.img-description {
  display: grid;
  grid-template-areas: "left mid right" ". . .";
  color: #313131;
  margin-left: 25px;
  height: 50px;
  margin-bottom: 35px;
}

.caption {
  color: #313131;
  font-size: 18px;
}

.delete-btn {
  color: #313131;
  transition-duration: 1s;
  grid-area: right;
  /* width: 80px; */
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  /* background-image: url('../../images/cancel.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 30px; */
  /* width: 20px;
  height: 20px; */
}

.profile-images > a{
    text-decoration: none;
}

a.to-profile{
  text-decoration: none;
  color:rgb(55, 124, 180)
}
/* .delete-btn:hover {
  background-color: #313131;
  color: white;
  border-radius: 5px;
} */
