.upload-form {
    width: 300px;
    height: 180px;
    color: white;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translate(-49%, -49%);
    left: 50%;
    position: fixed;
}

#upload-btn {
    /* margin-top: 10px; */
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    height: 34px;
    width: 200px;
    border: 0;
    font-size: 16px;
    margin-right: 0;
}

#upload-btn:hover {
    border: none;
    color: white;
    background-color: red;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #048EAC;
    /* height: 36px; */
    transition-duration: 0.4s;
}

.upload-img-txt {
    display: flex;
    flex-direction: column;
    color: #313131;
    font-size: 20px;
    text-align: center;
}

.wrapper-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302b2b
}

/* #048EAC */

#edit-btn:hover {
    background-color: #048EAC
}
