body {
  margin: 0;
}
.img1 {
  background-image: url("../../images/img1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-form {
  background-image: url("../../images/img6.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;

}


