.nav_bar {
  padding-top: 1%;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 100%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
}
.drop_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}
.nav_buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
}
.nav_buttons a {
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;

}
.btns {
  display: flex;
  flex-direction: row;
  font-size: 15px;


}
.btn_signup{
  margin-left: 10px;
}

.nav_items {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.nav_items a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-left: 10%;
  font-size: 30px;
}

.nav_search {
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  width: 700px;
  /* margin: 0; */
  border: 1px solid #bbc0c4;
  border-radius: 3px;
  font-family: inherit;
  max-width: 638px;
  margin-right: 15px;
}
.nav_search :focus {
  outline: none
}

.profile-dropdown {
  font-size: 15px;
  color:white;
  margin-bottom: px;
}

.drop_menu {
  height: 30px;
}

.upload-container {
  width: 50px;
  height:50px;
  margin-right: 15px;
}

.upload{
  background-image: url("../../images/computing-cloud.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  height: 50px;
  width:50px;
  /*
  margin-right: 30px */

}
