.login_form {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
}
button {
border: none;
color: white;
text-align: center;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
background-color: transparent;
height: 36px;
transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #313131
}
