body {
  font-family: Proxima Nova,Helvetica,sans-serif;
}
.login_form {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
  text-align: center;
}
.travlr {
  font-family: Proxima Nova,Helvetica,sans-serif;
  font-size: 20px;
}
/* .travlr:hover{
  color: rgb(18, 176, 238)
} */
.username {
  margin-top: 10px;
}
.username, .password {
  height: 30px;
  width: 200px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-btn {
border: none;
color: white;
text-align: center;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
background-color: #313131;
height: 36px;
width: auto;
padding-right: 5px;
padding-left: 5px;
transition-duration: 0.4s;
border-radius: 3px;
cursor: pointer;
margin-right: 10px;
}

.main-btn:hover {
  background-color: rgb(18, 176, 238);
  color: #ffffff;
  border-radius: 3px;
}
